<h1>Will's New Commentary</h1>
<div class="wholePage">
    <div id="title">
        <h6>Title of This Post:</h6>
        <input type="text" id="titleText" ng-model="titleLine">
    </div>
    
    <div id="author">
        <h5>Author's Name:</h5>
        <input type="text" id="authorName" ng-model="writer">
    </div>
    <div id="words">
        <h6>Your Thoughts and Opinions</h6>
        <h6>Remember once you post it,<span id="important"> IT'S OUT THERE FOREVER</span></h6>
        <input type="text" id="blogText" ng-model="weblog">
    </div>
    <div id="time">
    </div>
    <div id="identNum">
    </div>
    <button id="postIt" ng-click="post()">POST IT</button>
    
    
</div>